.row{
    padding: 25px;
}

div{
    background-color: #e7c8bc;
    text-align: center;
   
}

#acercade{
    padding: 70px;
}
#nombre{
    font-weight: bold;
    margin-top: 130px;
    font-size: 25px;

}
p{
    font-size: 18px;
}
@media (min-width: 770px){
    #fotomia{
        position:absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px ;
        left: 3%;
        top: 800px;
    }
}
@media (max-width: 769px){
    #fotomia{
        position:relative;
        width: 80%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px ;
        text-align: center;
        
        
    }
}
