
<div class ="container" *ngIf ="expLab">
    <div class = "row">
        <div>
              <form (ngSubmit)="onActualizar()" novalidate #f="ngForm">
                     <div class = "form-grup">
                           <label for = "nombreE"> Nombre empresa</label>
                           <input type="text" class="form-control" id="nombreE" [(ngModel)]="expLab.nombreE" name="nombreE">
                     </div>
                     <div class = "form-grup">
                        <label for = "contenidoE"> contenido empresa</label>
                        <input type="text" class="form-control" id="contenidoE" [(ngModel)]="expLab.contenidoE" name="contenidoE">
                  </div>
                  <button class="btn btn-primary">Actualizar</button>
              </form>
        </div>
    </div>
</div>
