<div class="row">
     <h1 class="text-center">Experiencia Laboral</h1>
     
     <div class=" col-lg-12">
        <ul>
            <li>
                <h1> Trabajo 1</h1> - <h2>(years)</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Inventore odio magnam unde consequuntur deserunt, ullam dolor. Ipsam dolor, obcaecati, illo numquam minima vero 
                  ratione officiis perspiciatis quisquam deleniti maxime temporibus.</p>
             </li>
         </ul>
         <ul>
            <li>
                <h1> Trabajo 2</h1> - <h2>(years)</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Inventore odio magnam unde consequuntur deserunt, ullam dolor. Ipsam dolor, obcaecati, illo numquam minima vero 
                  ratione officiis perspiciatis quisquam deleniti maxime temporibus.</p>
             </li>
         </ul>
         <ul>
            <li>
                <h1> Trabajo 3</h1> - <h2>(years)</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Inventore odio magnam unde consequuntur deserunt, ullam dolor. Ipsam dolor, obcaecati, illo numquam minima vero 
                  ratione officiis perspiciatis quisquam deleniti maxime temporibus.</p>
             </li>
         </ul>
     </div>

</div>

