<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="LogoAp">
        </div>
        <div class="redes">
            <a href="https://www.facebook.com/Jesusanton126/" > <img src="../../../assets/facebook.png" id="facebook"></a>
            <a href="" > <img src="../../../assets/github_PNG40.png" id="github"></a>
            <a href="https://www.instagram.com/jesus_antonn/" > <img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://twitter.com/Jesusanton9" > <img src="../../../assets/twitter.png" id="twitter"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INICIAR SESION</button>
            <button type="button" class="btn btn-outline-light" (click)="OnLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>