#LogoAp {
    width: 500px;
}
.redes img{
    width: 70px;
    border-radius: 30%;
    border: 2px solid #fffffffb;
    padding: 5px;
    margin: 3px;

    
}
.redes{
    margin-right: 20px;
    
    
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.btn{
    padding: 20px;
}

@media (max-width: 770px){
.container{
    flex-direction: column;
}

.redes{
    flex-direction: column;
    display: flex;
    align-items: center;
    top: -30px;
    position: relative;
}
}
