<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotomia.jpg" class="img-fluid" id="fotomia">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> Jesus Anton</p>
        <P > Full Stack Developer</P>
        
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="acercade">
        <span>
            <h1>Acerca de</h1> 
            <p> Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. At sequi quo quaerat labore corrupti et nam a,
                 non obcaecati. At, obcaecati. Deserunt non animi iure consectetur,
                  perspiciatis nobis ullam fuga.</p>
        </span>

    </div>